<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
 <application android:allowBackup="false" android:label="LEADEN1 Volume Diagnostic V5.3" android:supportsRtl="true" android:theme="@style/AppTheme">
  <activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
  <service android:name=".MediaNotificationListener" android:label="LEADEN1 Media Monitor V5.3" android:exported="true" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"><intent-filter><action android:name="android.service.notification.NotificationListenerService"/></intent-filter></service>
 </application>
</manifest>
